@import "variable.css";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {padding: 0;margin: 0; box-sizing: border-box;}
body {
    color: var(--foreground);
    font-family: "JetBrains Mono", monospace;
    background-image: url('./img/planet.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

a{text-decoration: none;color: var(--foreground);}

header {
    background-color: var(--color-primary);
    opacity: .5;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    
    
    .weather {
        background-color: var(--color-primary);
        opacity: .7;
        display: inline-flex;
        gap: 1vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: clamp(300px, 5vw, 800px);
        height: clamp(200px, 5vw, 1000px);
        border-radius: 20px;


        #cords {
            font-size: 0.75rem;
        }
        .loading-circle {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            border: .5rem dashed var(--color-loading);
            animation-name: spin;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            flex-shrink: 0;
        }
    }
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}